<h1>'<%= @owning_category.title %>' Businesses:</h1>

<table class="table table-striped table-responsive">
  <thead>
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Product</th>
    <th>Phone</th>
    <th>email</th>
    <th>Website</th>
    <th>Address</th>
    <th>Recommend By:</th>
  </tr>
  </thead>

  <tbody>
  <% @business.order(updated_at: :desc).each do |business| %>
      <tr id="<%= dom_id(business) %>">
        <td><%= business.name %></td>
        <td><%= business.contact %></td>
        <td><%= business.product %></td>
        <td><%= business.phone %></td>
        <td><%= business.email %></td>
        <td><%= business.website %></td>
        <td><%= business.street + ', ' +
                        business.city + ', ' +
                        business.state + ' ' +
                        business.zip %></td>
        <td>
          <%= link_to "Add Review", new_business_review_path(business.id) %>
          </td>
        <td>
          <% if test = Review.exists?(business_id: business.id) %>
              <%= link_to "Show Reviews", show_reviews_path(business.id) %>
          <% end %>
        </td>
        <td>
          <% if business.user_id %>
            <% user = User.find(business.user_id) %>
            <%= user.first_name %>
            <%= user.last_name %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= category = @business[0][:category_id]
    link_to 'Add Business',
            new_category_business_path(category),
            class: 'btn btn-mini' %>
<%= link_to 'Return to Resources',
            display_path,
            class: 'btn btn-mini' %>
