<!DOCTYPE html>
<html>
<head>
  <title>Ecarei</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>

  <% flash.each do |type, message| %>
      <div class='flash' id='<%= type %>'>
        <%= message.html_safe %>
      </div>
  <% end %>

  <%= render :partial => 'layouts/navigation' %>
  <%= yield %>
</div>

</body>
</html>
